<%= form_for(@profsociety) do |f| %>
  <% if @profsociety.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profsociety.errors.count, "error") %> prohibited this profsociety from being saved:</h2>

      <ul>
      <% @profsociety.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :socname %><br />
    <%= f.text_field :socname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
