<%= form_for(@contactinfo) do |f| %>
  <% if @contactinfo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contactinfo.errors.count, "error") %> prohibited this contactinfo from being saved:</h2>

      <ul>
      <% @contactinfo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contact %><br />
    <%= f.text_area :contact %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
