<h1>Mark McWiggins' Education</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @edus.each do |edu| %>
  <tr>
    <td><%= edu.kind %></td>
    <td><%= edu.description %></td>
    <td><%= link_to 'Show', edu %></td>
    <td><%= link_to 'Edit', edit_edu_path(edu) %></td>
    <td><%= link_to 'Destroy', edu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Edu', new_edu_path %>
<hr>
<table>
<tr><td><%= link_to 'Page 1', needs_quals_path %></td>
<td><%= link_to 'Education', edus_path %></td>
<td><%= link_to 'Contact', contactinfos_path %></td>
<td><%= link_to 'Summary', summaries_path %></td>
<td><%= link_to 'Experience', experiencedetails_path %></td>
<td><%= link_to 'Bibliography',bibliographies_path %></td>
<td><%= link_to 'Professional Societies',profsocieties_path %></td>
</tr>
</table>
