<p id="notice"><%= notice %></p>

<p>
  <b>Kind:</b>
  <%= @edu.kind %>
</p>

<p>
  <b>Description:</b>
  <%= @edu.description %>
</p>


<%= link_to 'Edit', edit_edu_path(@edu) %> |
<%= link_to 'Back', edus_path %>
