<%= form_for(@experiencedetail) do |f| %>
  <% if @experiencedetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiencedetail.errors.count, "error") %> prohibited this experiencedetail from being saved:</h2>

      <ul>
      <% @experiencedetail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
