<h1>Mark McWiggins' Experience: The Details</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @experiencedetails.each do |experiencedetail| %>
  <tr>
    <td><pre><%= h experiencedetail.description %></pre></td>
    <td><%= link_to 'Show', experiencedetail %></td>
    <td><%= link_to 'Edit', edit_experiencedetail_path(experiencedetail) %></td>
    <td><%= link_to 'Destroy', experiencedetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Experiencedetail', new_experiencedetail_path %>
<hr>
<table>
<tr><td><%= link_to 'Page 1', needs_quals_path %></td>
<td><%= link_to 'Education', edus_path %></td>
<td><%= link_to 'Contact', contactinfos_path %></td>
<td><%= link_to 'Summary', summaries_path %></td>
<td><%= link_to 'Experience', experiencedetails_path %></td>
<td><%= link_to 'Bibliography',bibliographies_path %></td>
<td><%= link_to 'Professional Societies',profsocieties_path %></td>
</tr>
</table>
